/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 768px;
}

/* Optional: Makes the sample page fill the window. */
#map-wrapper, #map-canvas {
    margin: 0 auto;
    padding: 0;
    height: 768px;
}